





<div id="chart_container">
  <div class="flowchart-example-container" id="exampleDiv" #exampleDiv></div>
</div>

<input type="button" value="add operator" (click)="addNewOperator()">
<input type="button" value="add operator2" (click)="addNewOperator2()">
<input type="button" value="delete" (click)="deleteOperationOrLink()">
<input type="button" value="load" (click)="load()">
<input type="button" value="get" (click)="get()">
<br/>
<textarea nbInput fullWidth shape="round" name="diagModel" [(ngModel)]="diagModel" placeholder="model" style="height: 300px; width: 500px"></textarea>
