  <div id="chart_container" #chart_container>
    <!-- <pan-zoom [config]="panzoomConfig"> -->
    <div class="flowchart-example-container" id="exampleDiv" #exampleDiv></div>
    <!-- </pan-zoom> -->
  </div>



<input type="button" value="add operator" (click)="addNewOperator()">
<input type="button" value="add operator2" (click)="addNewOperator2()">
<input type="button" value="delete" (click)="deleteOperationOrLink()">
<input type="button" value="load" (click)="load()">
<input type="button" value="get" (click)="get()">
<br />
<textarea nbInput fullWidth shape="round" name="diagModel" [(ngModel)]="diagModel" placeholder="model"
  style="height: 300px; width: 500px"></textarea>